<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<div class="container-fluid">
		<a class="navbar-brand" href="{{ path('main') }}">Platform Netinter</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" href="{{ path('main') }}">Accueil</a>
				</li>
				{% if app.user %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Function
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown">
						<li><a class="dropdown-item" href="/quiz/test">Quiz</a></li>
						<li><a class="dropdown-item" href="/cultur">Cultur</a></li>
						<li><a class="dropdown-item" href="/medical">Medical</a></li>
						<li><a class="dropdown-item" href="/visit">Visit</a></li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li>
				{% if(llll is defined) %}
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Control</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown">
						<li><a class="dropdown-item" href="{{ path(llll.route_dcmnt_) }}group">Group</a></li>
						<li><a class="dropdown-item" href="{{ path(llll.route_dcmnt_) }}last">Last</a></li>
						<li><a class="dropdown-item" href="{{ path(llll.route_dcmnt_) }}search">Search</a></li>
						<li><a class="dropdown-item" href="{{ path(llll.route_dcmnt_) }}find">Find</a></li>
					</ul>
				</li>
				{% endif %}
				<li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" id="dropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Admin
					</a>
					<ul class="dropdown-menu" aria-labelledby="dropdown">
						<li><a class="dropdown-item" href="/admin/cultur">Cultur</a></li>
						<li><a class="dropdown-item" href="/admin/medical">Medical</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/admin/qaaa">Qaaa</a></li>
						<li><a class="dropdown-item" href="/admin/qbbb">Qbbb</a></li>
						<li><a class="dropdown-item" href="/admin/qccc">Qccc</a></li>
						<li><a class="dropdown-item" href="/admin/qddd">Qddd</a></li>
						<li><a class="dropdown-item" href="/admin/qeee">Qeee</a></li>
						<li><a class="dropdown-item" href="/admin/aacb">Aacb</a></li>
						<li><a class="dropdown-item" href="/admin/abbb">Abbb</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item" href="/admin/person">Person</a></li>
						<li><a class="dropdown-item" href="/admin/visit">Visit</a></li>
						<li><a class="dropdown-item disabled" href="#">Disabled</a></li>
					</ul>
				</li>
				{% endif %}
			</ul>
			<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
				{% if app.user %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_profile_edit') }}">User</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_logout') }}">Logout</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_login') }}">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ path('user_register') }}">Register</a>
                    </li>
				{% endif %}
			</ul>
		</div>
	</div>
</nav>
