{# { form(dcmntForm) } #}
{{ form_start(dcmntForm) }}

    {% for name,type in fields %}
        {% if (type=='datetime') %}
            {{ attribute(dcmnt,name)|format_datetime('short','long',locale='fr') }}
        {% elseif (type=='array') %}
            <td>{{ attribute(dcmnt,name)|json_encode() }}</td>
        {% else %}
            {{ form_row(attribute(dcmntForm,name)) }}
        {% endif %}
    {% endfor %}

    <button type="submit" class="btn btn-primary">{{ button_label|default('Save') }}</button>

{{ form_end(dcmntForm) }}
