{# { dump(llll) } #}
<a href="{{ path(llll.route_dcmnt_) }}">
    <button type="submit" class="btn btn-primary">{{ button_label|default('List') }}</button>
</a><br />

{% if(dcmnt.id is defined and dcmnt.id>0) %}
    {% if(dcmnt.upuId is defined) %}
    <a href="{{ path(llll.route_uupper_id, {id: dcmnt.upuId}) }}">
        <button type="submit" class="btn btn-default">{{ button_label|default('Upper-U') }}</button>
    </a><br />
    {% endif %}
    {% if(dcmnt.upvId is defined) %}
    <a href="{{ path(llll.route_vupper_id, {id: dcmnt.upvId}) }}">
        <button type="submit" class="btn btn-default">{{ button_label|default('Upper-V') }}</button>
    </a><br />
    {% endif %}
    <div class="section">
        <a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-eye" aria-hidden="true"></i> {{ 'Show'|trans }}
        </a>
    </div>
    <a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}">
        <button type="submit" class="btn btn-default">{{ button_label|default('Show'|trans) }}</button>
    </a><br />
    <div class="section">
        <a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}/edit" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Edit'|trans }}
        </a>
    </div>
    <a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}/edit">
        <button type="submit" class="btn btn-default">{{ button_label|default('Edit'|trans) }}</button>
    </a><br />
    <div class="section">
        <a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}/copy" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit" aria-hidden="true"></i> {{ 'Copy'|trans }}
        </a>
    </div>
    <a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}/copy">
        <button type="submit" class="btn btn-default">{{ button_label|default('Copy'|trans) }}</button>
    </a><br />
    <!--a href="{{ path(llll.route_dcmnt_id, {id: dcmnt.id}) }}/delete">
        <button type="submit" class="btn btn-danger">{{ button_label|default('Delete'|trans) }}</button>
    </a><br /-->

    <div class="section actions">
        {{ include('admin/oooo/_delete_form.html.twig') }}
    </div>

{% else %}
    <a href="{{ path(llll.route_dcmnt_) }}search">
        <button type="submit" class="btn btn-default">{{ button_label|default('Search'|trans) }}</button>
    </a><br />
<a href="{{ path(llll.route_dcmnt_) }}find">
    <button type="submit" class="btn btn-default">{{ button_label|default('Find'|trans) }}</button>
</a><br />
    <a href="{{ path(llll.route_uupper) }}">
        <button type="submit" class="btn btn-default">{{ button_label|default('Upper-U') }}</button>
    </a><br />
    <a href="{{ path(llll.route_vupper) }}">
        <button type="submit" class="btn btn-default">{{ button_label|default('Upper-V') }}</button>
    </a><br />
    <a href="{{ path(llll.route_dcmnt_) }}new">
        <button type="submit" class="btn btn-default">{{ button_label|default('New'|trans) }}</button>
    </a><br />
{% endif %}
