{% extends 'admin/oooo/base_side.html.twig' %}

{% block title %}{{ llll.title|trans }}{% endblock %}

{% block main %}{# { dump(dcmnt) } #}

    <h1>{{ 'Document'|trans }} : {{ llll.route_dcmnt_ }}</h1>

    <div>

        {% for label,type in fields %}
            <div class='row border bg-light'>
                <div class='col-md-2'>{{ label }}</div>
                {% if (type=='datetime') %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|format_datetime(locale='fr') }}</div>
                {% elseif (type=='array') %}
                    <td>{{ attribute(dcmnt,label)|json_encode() }}</td>
                {% elseif(label == 'title') %}
                    <div class='col-md-8'><h2>{{ attribute(dcmnt,label) }}</h2></div>
                {% else %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|raw }}</div>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% if dcmnt.ulowers is defined %}{# { dump(dcmnt.ulowers) } #}

    <h3>{{ 'Annexes'|trans }} : {{ llll.route_ulower_id }}</h3>
    {% set lowers = dcmnt.ulowers %}
    {% set route_lower_id = llll.route_ulower_id %}
    {% set flds = uflds %}
    {% set tbsort = 'ulowers' %}
    {% include "_partials/_lower_list.html.twig" %}

{% endif %}

{% if dcmnt.vlowers is defined %}{# { dump(dcmnt.vlowers) } #}

    <h3>{{ 'Annexes'|trans }} : {{ llll.route_vlower_id }}</h3>
    {% set lowers = dcmnt.vlowers %}
    {% set route_lower_id = llll.route_vlower_id %}
    {% set flds = vflds %}
    {% set tbsort = 'vlowers' %}
    {% include "_partials/_lower_list.html.twig" %}

{% endif %}

{% endblock %}
