
    <table class="table table-striped table-middle-aligned">
        <thead>
            <tr>
                <th scope="col">{{ 'Select'|trans }}</th>
                {% for label,type in flds %}
                {% if (label not in['content_', 'referer']) %}
                    <th scope="col">{{ label|trans }}</th>
                {% endif %}
                {% endfor %}
            </tr>
        </thead>
        <tbody>
        {% for lower in lowers %}
            <tr>
                <td><a href="{{ path(route_lower_id, {id: lower.id}) }}">
                <button type="submit" class="btn btn-secondary">{{ button_label|default(lower.id) }}</button></a></td>
                {% for label,type in flds %}
                    {% if (type=='datetime') %}
                        <td>{{ attribute(lower,label)|format_datetime('short','short',locale='fr') }}</td>
                    {% elseif (label not in['content_', 'referer']) %}
                        <td>{{ attribute(lower,label)|raw }}</td>
                    {% endif %}
                {% endfor %}
            </tr>
        {% else %}
            <tr>
                <td colspan="4" align="center">{{ 'doc.no_doc_found'|trans }}</td>
           </tr>
        {% endfor %}
        </tbody>
    </table>
