{% extends 'base_b.html.twig' %}

{% block title %}{{ llll.title|trans }}{% endblock %}

{% block main %}{# { dump(dcmnt) } #}

    <h1>{{ 'Document'|trans }} : {{ llll.route_dcmnt_ }}</h1>

    <div>

        {% for label,type in fields %}
            <div class='row border bg-light'>
                <div class='col-md-2'>{{ label }}</div>
                {% if (type=='datetime') %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|format_datetime(locale='fr') }}</div>
                {% elseif (type=='array') %}
                    <td>{{ attribute(dcmnt,label)|json_encode() }}</td>
                {% elseif(label == 'title') %}
                    <div class='col-md-8'><h2>{{ attribute(dcmnt,label) }}</h2></div>
                {% else %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|raw }}</div>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{# % if extras is defined %}{# { dump(extras) } #}

    {% set fai = dcmnt.fai %}
    {% if fai == 'free.fr' %}
        Zimbra
        <form action="https://zimbra.free.fr/" method="post">
        <input name="login" type="text" value="{{ dcmnt.nnn }}" />
        <input name="password" type="hidden" value="{{ dcmnt.ppp }}" />
        <input type="submit" value="Zimbra" />
        </form>
        RoundCube
        <form action="https://webmail.free.fr" method="post">
            <input type="text" value="{{ dcmnt.nnn }}" name="_user" id="imapuser" required="required" />
            <input type="hidden" value="{{ dcmnt.ppp }}" name="_pass" id="passwd" required="required" />
            <span toggle="#passwd" id="togglePassword"                 class="togglePassword eye slash">
            </span>
            <input type="submit" value="Mail" />
        </form>
    {% endif %}
    {% if dcmnt.categ == 'netinter' %}
      <form novalidate id="login_form" action="http://{{ fai }}:2095/login/" method="post" target="_top" style="visibility:">
	<input name="user" id="user" autofocus="autofocus" value="{{ dcmnt.nnn }}@{{ fai }}" type="text"  tabindex="1" required>
	<input name="pass" id="pass" type="hidden" tabindex="2" value="{{ dcmnt.ppp }}" required>
	<button name="login" type="submit" id="login_submit" tabindex="3">Log in</button>
      </form><!--CLOSE forms -->
    {% endif %}

{# % endif % #}

{% endblock %}
