{% extends 'base_b.html.twig' %}

{% block title %}{{ llll.title|trans }}{% endblock %}

{% block main %}{# { dump(dcmnt) } #}

    <h1>{{ 'Document'|trans }} : {{ llll.route_dcmnt_ }}</h1>

    <div>

        {% for label,type in fields %}
            <div class='row border bg-light'>
                <div class='col-md-2'>{{ label }}</div>
                {% if (type=='datetime') %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|format_datetime(locale='fr') }}</div>
                {% elseif (type=='array') %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|json_encode() }}</div>
                {% elseif(label == 'title') %}
                    <div class='col-md-8'><h2>{{ attribute(dcmnt,label) }}</h2></div>

        {% elseif label == 'reference' and dcmnt.reference|first == '/' %}
        {% set docum=dcmnt.reference %}
        <div class='col-md-4'>{% include "compta/_documentmodal.html.twig" %}</div>
        <div class='col-md-4'>{{ docum }}</div>
                {% else %}
                    <div class='col-md-8'>{{ attribute(dcmnt,label)|raw }}</div>
                {% endif %}
            </div>
        {% endfor %}

    </div>

{% endblock %}
