{% extends 'compta/base.html.twig' %}

{% block main %}{# { dump(dcmnt) } #}

    <h1>{{ 'Compte'|trans }} : {{ dcmnt.title }} {{ crit.dir }} {{ crit.year }}</h1>
{#
    <div>

        {% for p_p_t,type in fields %}
            <div class='row border bg-light'>
                <div class='col-md-2'>{{ p_p_t }}</div>
                {% if (type=='datetime') %}
                    <div class='col-md-8'>{{ attribute(dcmnt,p_p_t)|format_datetime(locale='fr') }}</div>
                {% elseif(p_p_t == 'title') %}
                    <div class='col-md-8'><h2>{{ attribute(dcmnt,p_p_t) }}</h2></div>
                {% else %}
                    <div class='col-md-8'>{{ attribute(dcmnt,p_p_t) }}</div>
                {% endif %}
            </div>
        {% endfor %}

    </div>
#}
{% if tlowers is defined and tlowers|length >0 %}{# { dump(tlowers) } #}
    <h3>{{ dcmnt.title }} : {{ 'Crédits-Débits'|trans }}</h3> = {{ sum_t }}
    {% set lowers = tlowers %}{% set tuv = 't' %}
    {% set route_lower_id = 'compta_show' %}
    {% set flds = tflds %}
    {% include "compta/_table_list.html.twig" %}
{% endif %}

{% if ulowers is defined and ulowers|length >0 %}{# { dump(ulowers) } #}
    <h3>{{ 'Opérations Crédit'|trans }} : </h3> = {{ sum_u }}
    {% set lowers = ulowers %}{% set tuv = 'u' %}
    {% set route_lower_id = llll.route_ulower_id %}
    {% set flds = uflds %}
    {% include "compta/_table_list.html.twig" %}
{% endif %}

{% if vlowers is defined and vlowers|length >0 %}{# { dump(vlowers) } #}
    <h3>{{ 'Opérations Débits'|trans }} : </h3> = {{ sum_v }}
    {% set lowers = vlowers %}{% set tuv = 'v' %}
    {% set route_lower_id = llll.route_vlower_id %}
    {% set flds = vflds %}
    {% include "compta/_table_list.html.twig" %}
{% endif %}

{% endblock %}
